<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StatementsOutputPath" value="c:\StatementFactory\statements\" />
    <!-- Please include final forward or backward slash in path (e.g. c:\statements\) -->
    <add key="ErrorLogOutputPath" value="c:\StatementFactory\statements\errors\" />
    <!-- Please include final forward or backward slash in path (e.g. c:\statements\logs\) -->
    <add key="SymitarStatementDataFilePath" value="C:\StatementFactory\Statements.txt" />
    <add key="MoneyPerksFilePath" value="C:\StatementFactory\MoneyPerks.txt" />
    <add key="StatementTemplateFirstPageFilePath" value="S:\git\StatementConversion\XMLTest\templates\statement-template-first-page.pdf" />
    <add key="StatementTemplateFilePath" value="S:\git\StatementConversion\XMLTest\templates\statement-template.pdf" />
    <add key="StatementDisclosuresTemplateFilePath" value="S:\git\StatementConversion\XMLTest\templates\statement-back.pdf" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>